body{ 
  background-image: url("lab 4 images/Universe.jpg");
  background-position: center;
  background-size: cover;
  width: 1000px;
  padding: 200%; border: 0px Solid orange;
  margin-left: 0px; border: 0px solid black;
  text-align: center;
  font-family: 'Crushed'; font-size: 20px; color: white;
} 

p{
  font-size:20px;
  font-style: normal;
  font-family: 'Crushed'; font-size: 20px; color: White; 
} 
.table{
  font-family: 'Crushed'; font-size: 20px;
  color: White;
  text-align: center; 
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
}
