body{ 
  background-image: url("lab 4 images/Universe.jpg");
  background-position: center;
  background-size: cover;
  width: 1000px
  padding: 2%; border: 0px Solid orange;
  a:link color: red;
  margin-left: 0px; border: 0px solid black;
  text-align: center;
  font-family: 'Crushed'; font-size: 20px; color: white;
} 

p{
  font-size:20px;
  font-style: normal;
  font-family: 'Crushed'; font-size: 20px; color: White; 
} 
.table{
  font-family: 'Crushed'; font-size: 20px;
  color: White;
  text-align: center; 
}
